<% @tags.each do |tag| %>
  <p>
    <%= link_to "#{tag.name} (#{tag.articles.count})", tag_path(tag)%> |
    <%= link_to "Delete Tag", tag_path(tag), method: :delete, data: {
                              confirm: "Are you sure?"
      } %>
  </p>
<% end %>
